.excel{
	position: relative;
	height: 100%;
	max-width: 100%;
	font-size: .8rem;
	&__header{
		box-sizing: border-box;
		padding: 6px 4px;
		display: flex;
		justify-content: space-between;
		width: 100%;
		border-bottom: 1px solid silver;
		align-items: center;
		input{
			padding: 2px 7px;
			background-color: inherit;
			min-width: 1px;
			color: #000;
			height: 20px;
			border: 1px solid transparent;
			font-size: 18px;
			line-height: 18px;
			outline: none;
		}
		>div{
			padding-right: 15px;
			.button{
				height: 100%;
				width: 18px;
			}
		}
	}
	&__toolbar{
		padding: 5px 10px;
		border-bottom: 1px solid silver;
		>.button{
			height: 100%;
			display: inline-block;
			min-width: 30px;
			&.toolActive{
				background-color: rgba(0,0,0,.1);
			}
		}
	}
	&__formula{
		border-bottom: 1px solid silver;
		display: flex;
		align-items: center;
		&-info{
			font-style: italic;
			font-size: 18px;
			text-align: center;
			min-width: 40px;
			border-right: 1px solid silver;
			display: inline-block;
			color: #888;
			padding-bottom: 2px;
		}
		&-wrap{
			min-width: 95%;
		};
		&-input{
			margin: 0 10px;
			min-width: 30px;
			font-size: 16px;
			border: none;
			max-width: 95%;
			outline: none;
			white-space: nowrap!important;
			display: flex;
			flex-direction: row;
			word-spacing: 3px;
			&>div{
				padding-left: 7px;
			}

		}
	}
	&__table{
		overflow-x: scroll;
		&-row{
			border-bottom: 1px solid silver;
			display: flex;
			min-height: 25px
		};
		&-info{
			min-width: 40px;
			min-height: 28px;
			display: inline-block;
			border-right: 1px solid silver;
			background-color: #f8f9fa;
			color: rgb(#000, .5);
			display: flex;
			justify-content: center;
			align-items: center;
			position: relative;
			&>div + div{
				left: 0;
				height: 3px;
				right: 0;
				bottom: -2px;
				cursor: ns-resize;
				&::after{
					content: "";
					display: block;
					top: 10px;
					height: 4px;
					width: 100%;
					background-color: transparent;
				}
			}
		};
		&-data{
			display: flex;
		}
		&-column{
			display: flex;
			justify-content: center;
			align-items: center;
			background-color: #f8f9fa;
			min-width: 40px;
			width: 120px;
			border-right: 1px solid silver;
			min-height: 20px;
			font-size: 12px;
			position: relative;
			&-symbol{
				color: rgb(#000, .5);
			}
			&-cell{
				width: 100%;
				padding: 2px 5px;
				min-height: 100%;
				line-height: 1.7;
				outline: none;
				border: 2px transparent solid;
				border-radius: 4px;
			}
			&>div + div {
				top: 0;
				width: 3px;
				right: 0;
				bottom: 0;
				cursor: ew-resize;
				&::before{
					content: "";
					display: block;
					height: 100%;
					width: 7px;
					background-color: transparent;
				}
			}
		}
		&-resize {
			opacity: 0;
			position: absolute;
			transition: opacity .25s linear;
			background-color: #3c74ff;
			z-index: 100;
			&:hover{
				opacity: 1;
			}
		}
	}
}

.active-cell{
	.excel__table-column-cell{
		border: 2px #3c74ff solid;
		outline: none;
	}
}