@font-face {
  font-family: 'Roboto-Regular';
  src: url('../fonts/Roboto-Regular/Roboto-Regular.woff') format('woff'),
  		 url('../fonts/Roboto-Regular/Roboto-Regular.eot') format('eot');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'YanoneKaffeesatz-Regular';
  src: url('../fonts/YanoneKaffeesatz-Regular/YanoneKaffeesatz-Regular.woff') format('woff'),
    url('../fonts//YanoneKaffeesatz-Regular/YanoneKaffeesatz-Regular.eot') format('eot');
  font-weight: 600;
  font-style: normal;
}